@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  font-family: roboto;
}
.container{
    display: flex;
    flex-direction: column;
}
body{
    padding: 0;
    margin: 0;
    text-align: center;
}


/* Header CSS */

#navbar{
    display:flex;
    align-items: center;
    background-color: #1F2937;
    margin-bottom: auto;
}
#navbar h3{
    margin-right: auto;
    color:#F9FAF8;
    font-size: 24px;
    margin-left: 100px;
}
#links{
    display:flex;
    margin-left: auto;
    margin-right: 50px;
}
#navbar a{
    margin-right: 20px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}




/* Hero CSS */

#welcome{
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 50px;
}
.wel-text{
    margin-left:150px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 150px;
}
h2{
    margin:0;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
#welcome p{
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 5px;
    
}
#main-button{
    background-color: #3882F6;
    color: #F9FAF8;
    display: block;
    text-align: center;
    width: 85px;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}
#wel-img{
    width: 550px;
    height: 250px;
    background-color: grey;
    margin-right: 150px;
    padding-right: 30px;
    margin-top: 100px;
}

/* Information CSS */

h4{
    font-size: 36px;
    font-weight:800;
    color: #1F2937;
}
#info{
    align-items: center;
    margin-bottom: 30px;
}
#content{
    display: flex;
    justify-content: center;
}
#content img{
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 15px;
    margin: 5px 30px 0px 20px;
}



/* Quote CSS */

#quote{
    background-color: #E5E7EB;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}
#quotation{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    text-align: left;
    margin-left: 250px;
    margin-right: 250px;
} 
#author{
    bottom: 20px;
    font-weight: bold;
    position: relative;
    margin-left: 400px;
    margin-top: 10px;
}


/* Call To Action CSS */

#act{
    margin:30px 170px 30px 170px;
}
#action{
    background-color: #3882F6;
    border-radius: 5px;
}
#action h6{
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: 50px;
    right: 235px;
    color: #F9FAF8;
}
#action p{
    position: relative;
    bottom: 10px;
    right: 125px;
    color: #F9FAF8;
}
#sec-button{
    background-color: #3882F6;
    color: #F9FAF8;
    text-align: center;
    width: 90px;
    padding: 7px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    position: relative;
    left: 230px;
    bottom: 65px;
}



/* Footer CSS */

footer{
    background-color: #1F2937;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 30px;
}
footer p{
    color: #E5E7EB;
}
